:root {
  /* FONT */
  --font-main: "Plus Jakarta Sans", sans-serif;

  /* TEXTY */
  --color-text: rgb(10, 10, 12);
  --color-text-light: rgb(242, 240, 241);
  --color-heading: rgb(23, 67, 78);
  --color-text-muted: rgb(165, 166, 168);

  /* BRAND */
  --color-primary: rgb(37, 78, 88);
  --color-secondary: rgb(189, 136, 64);
  --color-accent-light: #4e7883;

  /* POZADIA */
  --color-bg: rgb(242, 240, 241);
  --color-surface: rgba(255, 255, 255, 0.88);
  --color-border: rgba(10, 10, 12, 0.12);

  /* LAYOUT */
  --container-width: 1200px;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 18px;

  /* SHADOW */
  --shadow-soft: 0 8px 30px rgba(0, 0, 0, 0.08);

  /* BUTTON */
  --button-bg: rgb(37, 78, 88);
  --button-bg-hover: #4e7883;
  --button-text: rgb(242, 240, 241);
}